/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */
$primaryColor: #151a20;
$secondaryColor: #151A20;

$btnPrimaryBgColor: $primaryColor;
$btnPrimaryHover: #333333;

/* ---------------------------------------------------
    GRID
----------------------------------------------------- */
$gridPaginationBgColor: #151a20;
$gridFontColor: #151a20;

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */
$sidebarFontColor: #adb5bd;
$sidebarBgColor: #354052;
$sidebarNavItemHover: #2d3646;
$sidebarNavItemExpanded: #313b4c;
$sidebarNavItemSelected: #28303e;
$sidebarNavItemBoderLeft: #151a20;
$sidebarNavItemActive: #151a20;